In [39]:
import pandas as pd

In [40]:
test_output = pd.read_excel(r"D:\WideWorldImporters\WideWorldImporters\tests\fixtures\invoiceReportNovember2015.xlsx")
actual_output = pd.read_csv(r"D:\WideWorldImporters\WideWorldImporters\outputs\report.csv", parse_dates=["TransactionDate", "OrderDate"])

In [41]:
test_output.rename({"is_Finalized?": "IsFinalized"}, axis=1, inplace=True)

In [42]:
test_output.info()

<class 'pandas.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SupplierID                 203 non-null    int64
 1   SupplierName               203 non-null    str
 2   SupplierInvoiceNumber      203 non-null    int64
 3   TransactionDate            203 non-null    datetime64[us]
 4   AmountExcludingTax         203 non-null    float64
 5   is Finalized?              203 non-null    str
 6   PurchaseOrderID            203 non-null    int64
 7   OrderDate                  203 non-null    datetime64[us]
 8   PurchaseOrderLineID        203 non-null    int64
 9   StockItemID                203 non-null    int64
 10  Description                203 non-null    str
 11  ReceivedOuters             203 non-null    int64
 12  ExpectedUnitPricePerOuter  203 non-null    float64
dtypes: datetime64[us](2), float64(2), int64(6), str(3)
memory usage: 20.7 KB

In [43]:
actual_output.info()

<class 'pandas.DataFrame'>
RangeIndex: 228 entries, 0 to 227
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   SupplierID                 228 non-null    int64
 1   SupplierName               228 non-null    str
 2   SupplierInvoiceNumber      228 non-null    int64
 3   TransactionDate            228 non-null    datetime64[us]
 4   AmountExcludingTax         228 non-null    float64
 5   isFinalized                228 non-null    bool
 6   PurchaseOrderID            228 non-null    int64
 7   OrderDate                  228 non-null    datetime64[us]
 8   PurchaseOrderLineID        228 non-null    int64
 9   StockItemID                228 non-null    int64
 10  Description                228 non-null    str
 11  ReceivedOuters             228 non-null    int64
 12  ExpectedUnitPricePerOuter  228 non-null    float64
dtypes: bool(1), datetime64[us](2), float64(2), int64(6), str(2)
memory usage: 21.7 KB

In [44]:
keys = list(filter(lambda x: "id" in x.lower() or x.lower() == "supplierinvoicenumber", test_output.columns))

In [45]:
keys

['SupplierID',
 'SupplierInvoiceNumber',
 'PurchaseOrderID',
 'PurchaseOrderLineID',
 'StockItemID']

In [46]:
full_output = test_output.merge(
    actual_output,
    left_on = keys,
    right_on = keys,
    how = "outer",
    suffixes = ["_test", "_output"]
)

In [50]:
test_output[(test_output["SupplierID"] == 4) & (test_output["SupplierInvoiceNumber"] == 28)]

,SupplierID,SupplierName,SupplierInvoiceNumber,TransactionDate,AmountExcludingTax,is Finalized?,PurchaseOrderID,OrderDate,PurchaseOrderLineID,StockItemID,Description,ReceivedOuters,ExpectedUnitPricePerOuter
111,4,"Fabrikam, Inc.",28,2015-11-17,1344132.0,YES,1742,2015-11-16,6982,77,The Gu red shirt XML tag t-shirt (White) XXS,2852,84.0
112,4,"Fabrikam, Inc.",28,2015-11-17,1344132.0,YES,1742,2015-11-16,6983,78,The Gu red shirt XML tag t-shirt (White) XS,3073,84.0
113,4,"Fabrikam, Inc.",28,2015-11-17,1344132.0,YES,1742,2015-11-16,6984,80,The Gu red shirt XML tag t-shirt (White) M,1543,84.0
114,4,"Fabrikam, Inc.",28,2015-11-17,1344132.0,YES,1742,2015-11-16,6985,86,The Gu red shirt XML tag t-shirt (White) 5XL,3040,96.0
115,4,"Fabrikam, Inc.",28,2015-11-17,1344132.0,YES,1742,2015-11-16,6986,95,The Gu red shirt XML tag t-shirt (Black) XL,1442,90.0
116,4,"Fabrikam, Inc.",28,2015-11-17,1344132.0,YES,1742,2015-11-16,6987,98,The Gu red shirt XML tag t-shirt (Black) 4XL,3075,96.0

In [48]:
full_output

,SupplierID,SupplierName_test,SupplierInvoiceNumber,TransactionDate_test,AmountExcludingTax_test,is Finalized?,PurchaseOrderID,OrderDate_test,PurchaseOrderLineID,StockItemID,...,ReceivedOuters_test,ExpectedUnitPricePerOuter_test,SupplierName_output,TransactionDate_output,AmountExcludingTax_output,isFinalized,OrderDate_output,Description_output,ReceivedOuters_output,ExpectedUnitPricePerOuter_output
0,4,"Fabrikam, Inc.",28,2015-11-17,1344132.0,YES,1742,2015-11-16,6982,77,...,2852.0,84.0,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN
1,4,"Fabrikam, Inc.",28,2015-11-17,1344132.0,YES,1742,2015-11-16,6983,78,...,3073.0,84.0,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN
2,4,"Fabrikam, Inc.",28,2015-11-17,1344132.0,YES,1742,2015-11-16,6984,80,...,1543.0,84.0,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN
3,4,"Fabrikam, Inc.",28,2015-11-17,1344132.0,YES,1742,2015-11-16,6985,86,...,3040.0,96.0,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN
4,4,"Fabrikam, Inc.",28,2015-11-17,1344132.0,YES,1742,2015-11-16,6986,95,...,1442.0,90.0,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,7,NaN,9132,NaT,NaN,NaN,2074,NaT,8367,204,...,NaN,NaN,"Litware, Inc.",2015-11-23,599747.0,True,2016-05-31,Tape dispenser (Red),0.0,170.0
427,7,"Litware, Inc.",9921,2015-11-02,1360.0,YES,1717,2015-10-31,6884,204,...,8.0,170.0,NaN,NaT,NaN,NaN,NaT,NaN,NaN,NaN
428,7,NaN,9921,NaT,NaN,NaN,2074,NaT,8365,184,...,NaN,NaN,"Litware, Inc.",2015-11-02,1360.0,True,2016-05-31,Shipping carton (Brown) 305x305x305mm,0.0,47.5
429,7,NaN,9921,NaT,NaN,NaN,2074,NaT,8366,193,...,NaN,NaN,"Litware, Inc.",2015-11-02,1360.0,True,2016-05-31,Black and orange glass with care despatch tape...,0.0,38.4
430,7,NaN,9921,NaT,NaN,NaN,2074,NaT,8367,204,...,NaN,NaN,"Litware, Inc.",2015-11-02,1360.0,True,2016-05-31,Tape dispenser (Red),0.0,170.0

In [47]:
full_output[list(map(lambda x: x + "_test", keys)) + list(map(lambda x: x + "_output", keys))]

KeyError: "None of [Index(['SupplierID_test', 'SupplierInvoiceNumber_test', 'PurchaseOrderID_test',\n       'PurchaseOrderLineID_test', 'StockItemID_test', 'SupplierID_output',\n       'SupplierInvoiceNumber_output', 'PurchaseOrderID_output',\n       'PurchaseOrderLineID_output', 'StockItemID_output'],\n      dtype='str')] are in the [columns]"